.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.889000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.888000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.922000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.503968,0.000000,0.000000,0.503968,0,0);-ms-transform:matrix(0.503968,0.000000,0.000000,0.503968,0,0);-webkit-transform:matrix(0.503968,0.000000,0.000000,0.503968,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.wsc{word-spacing:0.000000px;}
.ws3{word-spacing:11.596466px;}
.ws2{word-spacing:12.592726px;}
.wsb{word-spacing:13.031081px;}
.ws6{word-spacing:13.230333px;}
.wsa{word-spacing:13.867939px;}
.ws5{word-spacing:15.183002px;}
.ws9{word-spacing:15.262703px;}
.ws1{word-spacing:15.541760px;}
.ws7{word-spacing:15.740908px;}
.ws8{word-spacing:16.577766px;}
.ws4{word-spacing:16.737168px;}
.ws0{word-spacing:20.727342px;}
._1{display:inline;margin-left:-1.291162px;}
._2{display:inline-block;width:1.291162px;}
._4{display:inline-block;width:11.628364px;}
._3{display:inline-block;width:17.733428px;}
._6{display:inline-block;width:19.765798px;}
._5{display:inline-block;width:23.551586px;}
._0{display:inline-block;width:27.957810px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:39.850400px;}
.fs1{font-size:47.820800px;}
.fs0{font-size:68.861600px;}
.ye{bottom:245.238847px;}
.yd{bottom:968.235239px;}
.yc{bottom:992.334984px;}
.yb{bottom:1016.434729px;}
.ya{bottom:1040.534475px;}
.y9{bottom:1064.634220px;}
.y8{bottom:1088.733965px;}
.y7{bottom:1112.835727px;}
.y6{bottom:1136.935472px;}
.y5{bottom:1161.035217px;}
.y4{bottom:1185.134963px;}
.y3{bottom:1209.234708px;}
.y2{bottom:1283.543768px;}
.y1{bottom:1330.807894px;}
.y0{bottom:1389.048441px;}
.h3{height:28.532886px;}
.h2{height:33.187635px;}
.h1{height:47.789950px;}
.h0{height:1697.142166px;}
.w0{width:1200.000000px;}
.x4{left:180.001210px;}
.x3{left:210.126395px;}
.x0{left:497.682420px;}
.x2{left:502.496321px;}
.x1{left:552.804413px;}
.x5{left:594.978464px;}
